<%= stylesheet_link_tag 'custom_show', :media => 'screen' %>
<h1 class="h1">Show</h1>
<section class="show_container">
    
     <h2 class="h2">Hello, <%= @user.name %>, Thank you for contacting us. We will contact you soon...</h2>
     <h3 class="h3">Please review the following detailes</h3><h4 class="h4"><%= @user.name %><%= @user.last %>, email: <%= @user.email %>, phone:  <%= @user.phone %></h4>
</section>
