<header class="header_contain">
       <div class= "logo">
         <%= image_tag("securedownload.jpeg", :alt => "LOGO") %>
       </div>
         <nav>
            <ul>

             <li><%= link_to "home", pages_home_path %></li>
             <li><%= link_to "sign_up", sign_up_path %></li>
             <li><%= link_to "features", pages_features_path %></li>
             <li><%= link_to "advantages", pages_advantages_path %></li>
             <li><%= link_to "news", pages_news_path %></li>
             <li><%= link_to "about", pages_about_path %></li>
             <li><%= link_to "contact", pages_contact_path %></li>
             <li><%= link_to "try", pages_try_path %></li>

            </ul>
         </nav>
</header>
