<!DOCTYPE html>

<html>
  <section class="container">
<head>
         <title><%= @title %></title>
         <%= csrf_meta_tag %>
         <%= stylesheet_link_tag 'custom', :media => 'screen' %>
         <%= javascript_include_tag 'application' %>
</head>
<body>

         <section class="container">
             <%= render 'layouts/header' %>
                 <section class="content">
                     <%= yield %>
                 </section> 
             <%= render 'layouts/footer' %>
         </section>

</body>
  </section>
</html>
