<!DOCTYPE html>
<html>
<head>
  <title>SecondApp | <%= @title %></title>
  <%= render 'layouts/header' %>
<section class="round">
  <% flash.each do |key, value| %>
     <div class="flash <%= key %>"><%= value %></div>
  <% end %>

<%= yield %>
</section>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body>


</body>




</html>
